@import "tailwindcss";

@theme {
  --font-display: "Anton", sans-serif;
  --font-body: "Jost", sans-serif;
  --color-brand-dark: #101010;
  --color-brand-accent: #f2670f;
}

body {
  font-family: var(--font-body);
}

@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.animate-kenburns {
  animation: kenburns 25s ease-in-out infinite alternate;
}